@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Poppins&family=Roboto&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Open Sans', 'Poppins', 'Montserrat', 'Ubuntu', Arial, sans-serif;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #000;
}

nav {   
    padding-top: 0.3rem;
    font-size: 20px;
    color: #fff;
    padding: 1rem 3rem !important;
    font-family: 'Montserrat';
}

.nav-item {
    font-size: 20px;
    padding-left: 0.7rem;
}

.icon {
    margin-left: 0.4rem;
    border-radius: 0.3rem;
    height: 1.5rem;
}

.titleContainer {
    font-size: 1.8rem;
    margin-top: 1rem;
    text-align: center;
    padding-bottom: 3rem;
}

.title {
    font-weight: 500;
}

.content {
    font-size: 1.2rem;
    margin-top: 0.4rem;
}

.contentTitle {
    font-weight: 300;
}

.subContent {
    font-size: 1.3rem;
    margin-top: 1rem;
    font-weight: 400;
}

.container {
    margin-top: 1rem;
}

.container .title {
    font-size: 1.3rem;
}

.title {
    font-size: 1.5rem;
}

.screenshot {
    height: 15rem;
    border: 2px solid rgb(124, 124, 124);
    margin-top: 1rem;
    border-radius: 1.5rem;
}

.bg-custom-light {
    background-color: rgb(236, 236, 236)!important;
}

.featureBox {
    display: inline-block;
    margin: 0 1rem;
    z-index: -2;
    text-align: center;
    padding: 1rem;
    padding-bottom: 0;
    box-sizing: border-box;
    vertical-align: top;
}

.featureBox .icon {
    height: unset;
    font-size: 1.8rem;
}

.featureBox .content {
    height: 10rem;
}

.nav-link, .nav-link.active {
    padding: 0 1.5rem !important;
}

.featuresContent.row {
    text-align: center;
}

.sectionContainer {
    padding: 2rem 5rem !important;
}

.techStack, .form, .report {
    font-size: 1.3rem;
    list-style: none;
    margin-top: 0.5rem;
}

.techStack:before, .form:before, .report:before {
    content: "\21A3";
    font-weight: 600;
    font-size: 1.4rem;
    padding-right: 1rem;
}

.title {
    font-family: 'Ubuntu';
    font-weight: 600;
}

.titleContainer .content .contentTitle {
    font-family: 'Poppins';
}

footer {
    padding: 1rem 3rem;
    width: 100%;
}

footer .title {
    font-size: 1.5rem;
    font-family: 'Roboto';
    font-weight: 400;
    margin: 0.5rem 0;
}

footer .address {
    font-size: 1.1rem;
}

.social-links {
    text-align: center;
}

.social-links a {
    display: inline-flex;
    font-size: 1.5rem;
    margin-top: 1rem;
    width: 3rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding-top: 0.3rem;
    border-radius: 50%;
    color: rgb(101, 101, 101);
    margin: 0 1rem;
}

.pricing-card {
    margin: 1rem 1rem 1rem 11rem;
    text-align: center;
}

.pricing-card2 {
    margin: 1rem 11rem 1rem 1rem;
    text-align: center;
}

.price.title {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.8rem;
}

.card-header {
    padding-top: 1rem;
}

.forms, .reports {
    font-weight: 400;
    margin: 1.5rem;
    margin-left: 5rem;
    vertical-align: top;
    text-align: left;
}
